<h1>Display your Pirate here</h1>
    <%= @pirateName%>
    <%= @pirateWeight%>
    <%= @pirateHeight%>

<h2>Display your first ship here</h2>
    <%= @shipOneName%>
    <%= @shipOneType%>
    <%= @shipOneBooty%>


<h2>Display your second ship here</h2>
    <%= @shipTwoName%>
    <%= @shipTwoType%>
    <%= @shipTwoBooty%>